.p1{
  color: red;
  background-color: aqua;
}

div{
  color: darkslategrey ; 
  background-color: rgb(222, 187, 255);
}

/* 태그선택자보다 클래스선택자 우선순위가 더 높다 */
.d1{
  color: red !important;
}

#d1{
  color: dodgerblue;
}