
div{
  text-align: center;
  margin: 20px;
}

table{
  width: 800px;
  margin: 20px auto;
}

thead>tr{
  background-color:#4682A9;
  color: white;
  border-top: 3px solid #2a4d64;
  border-bottom: 3px solid #2a4d64;
}

td{
  padding: 10px;
  border-bottom: 1px solid gray;
}

tbody>td{
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid gray;
}



tbody>tr>td:nth-child(2){
  text-align: left;
}

tbody>tr:nth-child(even){
  background-color: rgb(228, 228, 228);
}



tbody>tr:hover{
  background-color: rgba(80, 80, 80, 0.301);
}