<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <div class="container">
    
    <div>
  
      <form action="/search" method="post">
        <select name="search">
          <option value="title">제목</option>
          <option value="writer">작성자</option>
        </select>
        <input type="text" name="searchBox">
        <input type="submit" value="검색">
      </form>
    </div>

      <table>
        <thead>
          <td>글번호</td>
          <td>제목</td>
          <td>작성자</td>
          <td>작성일</td>
          <td>조회수</td>
        </thead>
        <!-- 없음 -->
        <th:block th:if="${#lists.isEmpty(boardList)}">
          <tr>
            <td colspan="5"> 없구요 </td>
          </tr>
        </th:block>

        <!-- 있음 -->
        <th:block th:unless="${#lists.isEmpty(boardList)}">
          <tr th:each="board : ${boardList}">
            <td>[[${board.boardNum}]]</td>
            <td><a th:href="@{/boardDetail(boardNum=${board.boardNum})}">[[${board.title}]]</a></td>
            <td>[[${board.writer}]]</td>
            <td>[[${board.createDate}]]</td>
            <td>[[${board.readCnt}]]</td>
          </tr>
        </th:block>

      </table>
  

      <input type="button" value="뒤로가기" onclick="goback()">

  </div>

  <script>
    function goback(){
      history.back(-1);
    }
  </script>

</body>
</html>