<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="studentMapper">
    <resultMap id="stu" type="com.green.ReactStudent2.vo.StudentVO">
<result column="STU_NUM" property="stuNum"/>
<result column="STU_NAME" property="stuName"/>
<result column="KOR_SCORE" property="korScore"/>
<result column="ENG_SCORE" property="engScore"/>
<result column="MATH_SCORE" property="mathScore"/>
<result column="STU_AGE" property="stuAge"/>
<result column="STU_TEL" property="stuTel"/>
<result column="STU_ADDR" property="stuAddr"/>
    </resultMap>

    <!--학생 전체 조회-->
    <select id="getList" resultMap="stu">
        SELECT STU_NUM
            ,STU_NAME
            ,KOR_SCORE
            ,ENG_SCORE
            ,MATH_SCORE
        FROM REACT_STUDENT2
    </select>

    <insert id="insert1">
        INSERT INTO REACT_STUDENT2 (
            STU_NAME
            ,STU_AGE
            ,STU_TEL
            ,STU_ADDR
        ) VALUES (
            #{stuName}
            ,#{stuAge}
            ,#{stuTel}
            ,#{stuAddr}
        )
    </insert>

    <select id="getDetail" resultMap="stu">
        SELECT STU_NUM
            ,STU_NAME
            ,STU_AGE
            ,STU_TEL
            ,STU_ADDR
            ,KOR_SCORE
            ,ENG_SCORE
            ,MATH_SCORE
        FROM REACT_STUDENT2
        WHERE STU_NUM=#{stuNum}
    </select>

    <delete id="delStu">
        DELETE FROM REACT_STUDENT2
        WHERE STU_NUM=#{stuNum}
    </delete>

    <!--성적-->
    <update id="score">
        UPDATE REACT_STUDENT2
        SET KOR_SCORE=#{korScore}
            ,ENG_SCORE=#{engScore}
            ,MATH_SCORE=#{mathScore}
        WHERE STU_NUM=#{stuNum}
    </update>

	
</mapper>































