<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <form action="/insertMember" method="post">
    <p>회원번호 : <input type="text" name="memNum"> </p>
    <p>회원이름 : <input type="text" name="memName"></p>
    <p>회원나이 : <input type="text" name="memAge"></p>
    <p>회원주소 : <input type="text" name="memAddr"></p>

    <input type="submit" value="등록">
  </form>

</body>
</html>