/* tbody>tr:nth-child(odd){
  background-color: #F6E6CB;
}
tbody>tr:nth-child(even){
  background-color: #E7D4B5;
} */


.name{
  background-color: #B6C7AA;
  color: white;
}

.detail{
  margin: 0 auto;
  width: 80%;
}

table{
  margin-bottom: 50px;
}

button{
  
  background-color: #B6C7AA;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 3px;

}

button:hover{
  cursor: pointer;
  background-color: #a0af95;
}