

.join-div{
  border: 1px solid #eeeeee;
  background-color: #eeeeee36;
  width: 700px;
  margin: 50px auto;
  padding: 50px 10px;
  border-radius: 5px;
  /* box-shadow: 3px 3px 3px #eeeeee; */
}

.join-div>h2{
  margin-bottom: 20px;
}


.join-table{
  width: 70%;
  margin: 20px auto;
}

.join-table td{
  padding: 5px;
}

.join-table tr>td:nth-child(1){
  text-align: right;
  
}

.join-div.itemList{
  /* border: 1px solid black; */
  width: 90%;

  display: grid;
  /* 컬럼의 크기와 개수 */
  grid-template-columns: repeat(5,1fr);
  gap: 20px;
}




.join-div.itemList table{
  /* border: 1px solid black; */
  width: 100%;
  text-align: center;
  
}

/* input창 */
.join-input{
  width: 100%; 
  padding: 5px ;
  border: none;
  outline: 1px solid lightgray;
}

.join-input:focus{
  outline: 1px solid black;
}

.inline-input{
  display: flex;
  gap: 5px;
  align-items: center;
}

.inline-input>input{
  width: 70%;
}

.inline-input>button{
  width: 30%;
}

.inline-select{
  display: flex;
  gap: 5px;
}

.inline-select>input{
  width: 50%;
}

.inline-select>select{
  width: 50%;
}


/* 버튼 */

.join-Btn{
  background-color: white;
  border: none;
  outline: 1px solid lightgray;
  width: 30px;
  padding: 4px 8px;
  cursor: pointer;
}

.join-Btn:hover{
  background-color: #eeeeee;
}

.join-Btn:active{
  background-color: #eeeeee;
} 

.get-join-btn{
  background-color: black;
  color:white;
  width: 150px;
  height: 30px;
  border-radius: 50px;
  /* padding: 3px 8px; */
  cursor: pointer;
}

.get-join-btn:hover{
  background-color: rgba(0, 0, 0, 0.788);
}


.twoBtn{
  margin-right: 10px;
  margin-left: 10px;
}



/* validation 디자인 */

.feedback{
  font-size: 0.7rem;
  text-align: left;
  margin-top: 4px;
  /* color: #99A799; */
  visibility: hidden;
}

.feedback.error{
  color: red;
  visibility: visible;
}
.feedback.good{
  color: cornflowerblue;
  visibility: visible;
}
