<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="orderMapper">
    <resultMap id="order" type="com.green.ItemOrder.vo.OrderVO">
        <result column="ORDER_NUM" property="orderNum"/>
        <result column="BUY_ITEM_NAME" property="buyItemName"/>
        <result column="BUY_ITEM_PRICE" property="buyItemPrice"/>
        <result column="BUYER" property="buyer"/>
        <result column="BUY_CNT" property="buyCnt"/>
        <result column="BUY_PRICE" property="buyPrice"/>
        <result column="BUY_DATE" property="buyDate"/>
    </resultMap>
	
</mapper>































