body{
  width: 100vw;
  height: 100vh;
  font-size: 0.9rem;
}

.container {
  text-align: center;
  /* padding: 20px; */
  /* border: 1px solid black; */
  width: 100%;
  margin: 0px auto;
}

.main-top{
  background-color: #eeeeee;
  width:100%;
}

.banner{
  width: 100%;
  height: 160px;
  border: 1px solid red;
  
}


@font-face {
  font-family: 'Freesentation-9Black';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}


.title{
  font-family: 'Freesentation-9Black';
  width: 1440px;
  cursor: pointer;
  text-align: left;
  letter-spacing: 10px;
  margin: 0 auto;
}



.main-top-div{
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  /* padding: 10px; */
}


.main-top-div span:hover{
  cursor: pointer;
}




.loginDetail{
  width: 100px;
  width: 1440px ;
}

.loginDetail>ul,.loginDetail>div{
  height: 30px;
  display: flex;
  align-items: center;
  width: 200px;
  
}

.loginDetail li,.loginDetail span{
  text-align: center;
  width: 100%;

}




.layout-div{
  width: 100%;
  margin: 0 auto;
  /* background-color: #FEF5ED; */
  
}



.home-main{
  border: 1px solid #eeeeee;
  width: 500px;
  margin: 10px auto;
  border-radius: 20px;
}


.cart-div{
  margin: 20px auto;
}

.detail-div{
  width: 100%;
  justify-content: center;
  
}

.detail-div button{
  margin-left: 10px;
}

.detail-div td{
  padding: 5px;
}

.detail-div.top{

  display: flex;
  /* align-items: center; */
  /* justify-content: space-around; */
  width: 90%;
  height: 400px;

  margin: 30px 0px;
}
.detail-div.top > div{
  /* border: 1px solid black; */
  width: 50%;
  height: 100%;
}

.item-name {
  width: 100%;
  margin-top: 80px;
  /* border: 1px solid salmon; */
}

.detail-div.top div:nth-child(1) img{
  width: 260px;
  height: 400px;
  /* border: 1px solid red; */
}

.detail-div.top>div:nth-child(2){
  text-align: left;
  padding-left: 10px;
  /* border: 1px solid blue; */
}

.detail-div.top div:nth-child(2)>div{
  /* border: 1px solid black; */
  width: 300px;
  padding: 5px;
}

.detail-div input{
  width: 50px;
}

.detail-div span{
  margin-right: 70px;
}

.detail-button{
  margin-top: 60px;
  border-top: 3px solid #DFD3C3;
  display: flex;
  justify-content: center;
}
.detail-button button{
  margin-top: 10px;
  
}

.detail-title{
  font-size: 1.5rem;
  margin-bottom: 50px;
  border-bottom: 3px solid #DFD3C3;

}

.detail-intro{
  font-weight: bold;
  font-size: 1.2rem;
  /* border: 1px solid #eeeeee; */
  margin-bottom: 30px;
}

.detail-img>img{
  width: 80%;
}

.blank{
  /* border: 1px solid black; */
  text-align: center;
  margin: 20px auto;
}

.category{
  display: flex;
  justify-content: center;
  gap: 50px;
  
  margin-top: 10px;
  margin-bottom: 20px;
}

.category li:hover,
.category li.active{
  font-weight: bold;
}

.category li:visited{
  font-weight: bold;
}

.category.side{
  display: flex;
  flex-direction: column;
  /* align-items: start; */
  justify-content: start;
  padding: 10px;
  /* background-color: #eeeeee4f; */
  border-radius: 3px;
  /* width: 150px; */
}


.category.side li{
  /* border: 1px solid black; */
  width: 130px;
  margin-bottom: 10px;
  border-bottom: 2px solid #d3d3d3;
  padding: 8px 10px;
}

.bi-chevron-right{
  color: #ADC2A9;
  font-size: 0.7rem;
  /* display: flex; */
  justify-content: space-between;
}

 .sidebar{
  /* width: 100%; */
  /* border: 1px solid black; */
  display: flex;
  /* justify-content: space-around; */
  margin-bottom: 50px;
 }

.category li{
  cursor: pointer;
}


.item-header{
  background-color: #D3E4CD;
  color: white;
}

.inline-input{
  display: flex;
  gap: 5px;
  align-items: center;
}

.inline-input>input{
  width: 70%;
}

.inline-input>button{
  width: 30%;
}

.inline-select{
  display: flex;
  gap: 5px;
}

.inline-select>input{
  width: 50%;
}

.inline-select>select{
  width: 50%;
}

.cartCnt{
  width: 35px;
}

.delBtn{
  width: 40px;
}

.item-title{
  text-align: left;
  display: flex;
  align-items: center;
}

.itemTitle{
  cursor: pointer;
}


.itemTitle img{
  height: 50px;
}



.form-control{
  width: 60%;
  padding: 4px;
  border-radius: 6px;
  border: 1px solid #DFD3C3;
}


.form-control:focus{
  outline: 1px solid #D0B8A8;
}

.cart-header{
  /* border-top: 2px solid #D3E4CD; */
  border-bottom: 2px solid #DFD3C3;
  font-weight: bold;
  /* color: white; */
}

.cart-body tr:hover{
  background-color: #eeeeee;
}


.cart-body td{
  border-bottom: 1px solid #eeeeee;
  
}



.totalPrice{
  margin-left: auto;
  text-align: right;
  border-bottom: 2px solid#DFD3C3;
  margin-bottom: 10px;
  width: 260px;
}


/* 메인 홈 */

.home-img-div{
  border: 1px solid red;
  width: 1440px;
  margin: 100px auto;
}

.home-img{
  width: 100%;
  height: 570px;
  object-fit: cover;
  object-position: center;

}



/* 모달 창 디자인 */
.modal-container{
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  align-items: start;
  justify-content: center;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.199);
  z-index: 99;
  animation: fadeIn 0.2s ease-in forwards ;
}

.modal-container>.modal{
  padding: 10px;
  margin-top: 8rem;
  width: 400px;
  border-radius: 5px;
  background-color: white;
  animation: slideUp 0.7s ease-in forwards ;
}

.modal-container.show{
  animation-name: fadeIn ;
}

.modal-container.show >.modal{
  animation: slideDown;
}

.modal-header{
  text-align: right;
  margin-bottom: 10px;
}

.modal-header>span{
  cursor: pointer;
}

.modal-content{
  padding: 20px;
  margin-bottom: 10px;
}

.modal-footer{
  text-align: right;
}

/* 모달 애니메이션 정의  */
@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes slideDown{
  from{
    transform: translateY(-35px);
  }
  to{
    transform: translateY(0px);
  }
}
@keyframes slideUp{
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(-35px);
  }
}