body{
  width: 100vw;
  font-size: 0.9rem;
}

.container {
  text-align: center;
  /* padding: 20px; */
  /* border: 1px solid black; */
  width: 100%;
  margin: 10px auto;
}

.login-div{
  width: 100%;
  background-color: #ADC2A9;
  color: white;
  /* padding: 10px; */
  
}

.loginDetail{
  text-align: right;
}

.banner{
  position: relative;
}

.banner-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top;
  display: block;
}

.banner>div:nth-child(2){
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 10px;
  transform: translate(-150px,-50%);
}

.loginDetail>ul,.loginDetail>div{
  height: 50px;
  display: flex;
  align-items: center;
  width: 25%;
  /* border: 1px solid black; */
  margin-left: auto;
  
}

.loginDetail li,.loginDetail span{
  text-align: center;
  width: 100%;
}

.login-div span:hover{
  cursor: pointer;
}


.layout-div{
  width: 700px;
  margin: 10px auto;
  /* background-color: #FEF5ED; */
  
}

.title{
  cursor: pointer;
}

.join-div{
  border: 1px solid #eeeeee;
  background-color: #eeeeee36;
  width: 60%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 5px;
  /* box-shadow: 3px 3px 3px #eeeeee; */
}

.join-table{
  
  width: 100%;
  margin-bottom: 10px;
}

.join-table td{
  padding: 5px;
}

.join-table tr>td:nth-child(1){
  text-align: right;
  
}


.join-div.itemList table{
  /* border: 1px solid black; */
  width: 100%;
  text-align: center;
  
}


.item-header{
  background-color: #D3E4CD;
  color: white;
}

.inline-input{
  display: flex;
  gap: 5px;
  align-items: center;
}

.inline-input>input{
  width: 70%;
}

.inline-input>button{
  width: 30%;
}

.inline-select{
  display: flex;
  gap: 5px;
}

.inline-select>input{
  width: 50%;
}

.inline-select>select{
  width: 50%;
}


.form-control{
  width: 60%;
  padding: 4px;
  border-radius: 6px;
  border: 1px solid #D3E4CD;
}


.form-control:focus{
  outline: 1px solid #ADC2A9;
}

button{
  background-color: #D3E4CD;
  border: none;
  width: 80px;
  color: white;
  border-radius: 5px;
  padding: 3px 8px;
  cursor: pointer;
}



button:active{
  background-color: #ADC2A9;
}

.btn-primary{
  background-color: #D3E4CD;
}

/* validation 디자인 */

.feedback{
  font-size: 0.7rem;
  text-align: left;
  margin-top: 4px;
  /* color: #99A799; */
  visibility: hidden;
}

.feedback.error{
  color: red;
  visibility: visible;
}
.feedback.good{
  color: #D3E4CD;
  visibility: visible;
}


/* 모달 창 디자인 */
.modal-container{
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  align-items: start;
  justify-content: center;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.199);
  z-index: 99;
  animation: fadeIn 0.2s ease-in forwards ;
}

.modal-container>.modal{
  padding: 10px;
  margin-top: 8rem;
  width: 400px;
  border-radius: 5px;
  background-color: white;
  animation: slideUp 0.7s ease-in forwards ;
}

.modal-container.show{
  animation-name: fadeIn ;
}

.modal-container.show >.modal{
  animation: slideDown;
}

.modal-header{
  text-align: right;
  margin-bottom: 10px;
}

.modal-header>span{
  cursor: pointer;
}

.modal-content{
  padding: 20px;
  margin-bottom: 10px;
}

.modal-footer{
  text-align: right;
}

/* 모달 애니메이션 정의  */
@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes slideDown{
  from{
    transform: translateY(-35px);
  }
  to{
    transform: translateY(0px);
  }
}
@keyframes slideUp{
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(-35px);
  }
}