.container {
  /* font-size: 1.2rem; */
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

body{
  width: 100vw;
}

.header{
  text-align: center;
}

.header>div{
  text-align: right;
}
.header span:hover{
  cursor: pointer;
}

.content{
  margin-top: 30px;
  margin: 0 auto;
}

.searchBox{
  text-align: right;
}

.board{
  margin-top: 20px;
  text-align: center;
}



.regMem{
  margin: 0 auto;
  width: 50%;
  /* border: 1px solid black; */
  padding: 4px;
  
}

.regMem input{
  outline: none;
  margin-top: 2px;
  margin-bottom: 5px;
}

.regMem input:focus{
  border: 2px solid #AAD7D9;
  
}

.logIn{
  width: 100%;
  text-align: center;
}

.id{
  width: 80px;
}

button{
  background-color: #AAD7D9;
  border: none;
  border-radius: 3px;
  margin-left: 10px;
  color: white;
  height: 20px;
}

button:disabled{
  background-color: #dddddd;
}

button:hover{
  
  cursor: pointer;
}

button:active{
  background-color: #92C7CF;
  position: relative;
  top: 1px;
  left: 1px;
}
/* 
button-small{
  font-size: 0.7rem;
  padding: 2px 6px;
} */

.write{
  margin: 0 auto;
}

.title:hover{
  cursor: pointer;
}

.replyContent{
  /* border-bottom: 1px solid black; */
  border-top: 1px solid black;
  width: 300px;
  margin: 10px 0px;
}

.replyDetail{
  color: #dddddd;
  font-size: 0.8rem;
}

.board thead td{
  background-color: #92C7CF ;
  color: white;
  padding: 7px;
}

.board tbody td{
  padding: 2px;
}

.page-span{
  display: inline-block;
  padding: 0 5px;
  cursor: pointer;
}
