<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  [[${hobbies[0]}]] <br>
  [[${member.name}]] <br> 
  <!-- member.getName(); -->
  [[${member.age}]] <br>
  <!-- member.getAge (); -->


  

  <div>아이디 <input type="text"  style="width: 150px;"></div>
  <div >비밀번호 <input type="pw" style="width: 150px;"></div>
  <button type="button" style="background-color: cornflowerblue; border: 1px solid rgb(88, 130, 207); padding: 5px 8px; border-radius: 5px;"><a href="/join" style="color: white; text-decoration: none;">가입하러가기</a></button>

</body>
</html>