<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="cartMapper">

    <resultMap id="item" type="com.green.Shop.item.vo.ShopItemVO">
        <id column="ITEM_CODE" property="itemCode"/>
        <result column="ITEM_NAME" property="itemName"/>
        <result column="ITEM_PRICE" property="itemPrice"/>
        <result column="ITEM_INTRO" property="itemIntro"/>
        <result column="ITEM_STOCK" property="itemStock"/>
        <result column="ITEM_STATUS" property="itemStatus"/>
        <result column="CATE_CODE" property="cateCode"/>
<!--        <result column="ATTACHED_FILE_NAME" property="attachedFileName"/>-->
        <association property="categoryVO" resultMap="category"/>
        <collection property="imgList" resultMap="img"/>
    </resultMap>

    <resultMap id="category" type="com.green.Shop.item.vo.CategoryVO">
        <id column="CATE_CODE" property="cateCode"/>
        <result column="CATE_NAME" property="cateName"/>
    </resultMap>

    <resultMap id="img" type="com.green.Shop.item.vo.ImgVO">
        <id column="IMG_CODE" property="imgCode"/>
        <result column="ORIGIN_FILE_NAME" property="originFileName"/>
        <result column="ATTACHED_FILE_NAME" property="attachedFileName"/>
        <result column="IS_MAIN" property="isMain"/>
        <result column="ITEM_CODE" property="itemCode"/>
    </resultMap>

    <resultMap id="cart" type="com.green.Shop.cart.vo.CartVO">
        <id column="CART_CODE" property="cartCode"/>
        <result column="ITEM_CODE" property="itemCode"/>
        <result column="CART_CNT" property="cartCnt"/>
        <result column="MEM_ID" property="memId"/>
        <result column="CART_DATE" property="cartDate"/>
        <collection property="itemVO" resultMap="item"/>
    </resultMap>

    <!--장바구니-->
    <insert id="putInCart">
        INSERT INTO SHOP_CART (
            ITEM_CODE
            ,CART_CNT
            ,MEM_ID
        ) VALUES (
            #{itemCode}
            ,#{cartCnt}
            ,#{memId}
        )
    </insert>

    <!--장바구니 등록 전 등록여부확인-->
    <select id="checkInCart" resultMap="cart">
        SELECT CART_CODE
        FROM SHOP_CART
        WHERE ITEM_CODE=#{itemCode}
        AND MEM_ID=#{memId}
    </select>

    <!--장바구니에 상품 등록 시 수량 업데이트-->
    <update id="updateCartCntWhenReg">
        UPDATE SHOP_CART
        SET CART_CNT=CART_CNT+#{cartCnt}
            ,CART_DATE=NOW()
        WHERE ITEM_CODE=#{itemCode}
        AND MEM_ID=#{memId}
    </update>


    <!--장바구니 조회-->
    <select id="selectCart" resultMap="cart">
        SELECT CART_CODE
            ,S.ITEM_CODE
            ,ITEM_NAME
            ,ITEM_PRICE
            ,CART_CNT
            ,S.MEM_ID
            ,DATE_FORMAT(CART_DATE,'%Y-%m-%d') AS CART_DATE
            ,ATTACHED_FILE_NAME
        FROM SHOP_CART S,SHOP_ITEM I,item_img IMG
        WHERE MEM_ID=#{memId}
        AND S.ITEM_CODE=I.ITEM_CODE
        AND I.ITEM_CODE=IMG.ITEM_CODE
        AND S.ITEM_CODE=IMG.ITEM_CODE
        AND IS_MAIN='Y'
        ORDER BY CART_CODE DESC
    </select>

    <!--장바구니에서 삭제-->
    <delete id="deleteInCart">
        DELETE
        FROM SHOP_CART
        WHERE CART_CODE=#{cartCode}
    </delete>


</mapper>































