<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="salesMapper">
    <resultMap id="sales" type="com.green.CarManage.vo.SalesVO">
        <id column="SELL_NUM" property="sellNum" />
        <result column="SELLER_NAME" property="sellerName" />
        <result column="SELLER_TEL" property="sellerTel" />
        <result column="COLOR" property="color" />
        <result column="SELL_DATE" property="sellDate" />
        <result column="MODEL_NUM" property="modelNum" />
        <association property="carVO"  resultMap="car"/>
    </resultMap>

    <resultMap id="car" type="com.green.CarManage.vo.CarVO">
        <id column="MODEL_NUM" property="modelNum"/>
        <result column="MODEL_NAME" property="modelName"/>
        <result column="PRICE" property="price"/>
        <result column="MAKE" property="make"/>
    </resultMap>



    <insert id="insertSeller">
        INSERT INTO SALES_INFO (
            SELLER_NAME
            ,COLOR
            ,SELLER_TEL
            ,MODEL_NUM
        ) VALUES (
            #{sellerName}
            ,#{color}
            ,#{sellerTel}
            ,#{modelNum}
        )
    </insert>

    <!--구매정보 확인-->
    <select id="select" resultMap="sales">
        SELECT SELLER_NAME
            ,SELLER_TEL
            ,SELL_DATE
            ,COLOR
            ,S.MODEL_NUM
            ,C.MODEL_NAME
            ,C.PRICE
        FROM CAR_INFO C,SALES_INFO S
        WHERE S.MODEL_NUM=C.MODEL_NUM
        ORDER BY SELL_DATE DESC
    </select>



	
</mapper>































