<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="dbMapper">
    <!--resultMap : DB에서 조회된 데이터를 VO 클래스로 가져오기위한 설정-->
    <!--Type : 조회된 데이터를 담을 VO 클래스. 패키지명도 작성-->
    <!--colum : 데이터베이스에서 조회되는 컬럼명-->
    <!--property : VO 클래스에 정의한 멤버변수명-->
    <!--id : 정의한 resultMap을 지칭하는 이름-->
    <resultMap id="member" type="com.green.DB_Member.vo.MemberVO">
        <result column="MEM_NUM" property="memNum" />
        <result column="MEM_NAME" property="memName" />
        <result column="MEM_AGE" property="memAge" />
        <result column="MEM_ADDR" property="memAddr" />
    </resultMap>

    <!-- select 태그는 조회 결과 데이터를 자바로 어떻게 가져올지 작성해야함 -->
    <!--resultType : 조회된 데이터를 하나의 행 정보를 담을 자료형
        int, String, Map-->
    <!--resultMap : 조회된 데이터를 하나의 행 정보를 담을 자료형
        int, String을 제외한 나머지 경우-->
    <select id="select1" resultType="String">
        SELECT MEM_NAME
        FROM test_member
        WHERE MEM_NUM=1;
    </select>

    <select id="select2" resultType="int">
        SELECT MEM_AGE
        FROM TEST_MEMBER
        WHERE MEM_NUM=#{memNum};
    </select>

    <!--크다 > : &gt; -->
    <!--작다 < : &lt; -->
    <select id="select3" resultType="String">
        SELECT MEM_NAME
        FROM TEST_MEMBER
        WHERE MEM_AGE &gt;= #{memAge};
    </select>

    <select id="select4" resultMap="member">
        SELECT MEM_NUM
            , MEM_NAME
            , MEM_AGE
            , MEM_ADDR
        FROM TEST_MEMBER
        WHERE MEM_NUM=#{memNum};
    </select>

    <select id="select5" resultMap="member">
        SELECT MEM_NUM
            , MEM_NAME
            , MEM_AGE
            , MEM_ADDR
        FROM TEST_MEMBER;
    </select>

    <delete id="delete">
        DELETE FROM TEST_MEMBER
        WHERE MEM_NUM=#{memNum};
    </delete>

    <insert id="insert">
        INSERT INTO TEST_MEMBER(
            MEM_NUM
            , MEM_NAME
            , MEM_AGE
            , MEM_ADDR
        )
        VALUES (
            #{memNum}
            , #{memName}
            , #{memAge}
            , #{memAddr}
        );
    </insert>

    <update id="update">
        UPDATE TEST_MEMBER
        SET MEM_NAME = #{memName}
            , MEM_AGE = #{memAge}
            , MEM_ADDR = #{memAddr}
        WHERE MEM_NUM=#{memNum};
    </update>

</mapper>































