<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="boardMapper">
    <resultMap id="board" type="com.green.BasicBoard2.vo.BoardVO">
        <result column="BOARD_NUM" property="boardNum" />
        <result column="TITLE" property="title" />
        <result column="WRITER" property="writer" />
        <result column="CONTENT" property="content" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="READ_CNT" property="readCnt" />
    </resultMap>

    <!--전체 조회-->
    <select id="selectAll" resultMap="board">
        SELECT BOARD_NUM
            , TITLE
            , WRITER
            , CONTENT
            , CREATE_DATE
            , READ_CNT
        FROM BASIC_BOARD2
    </select>

    <!--상세 조회-->
    <select id="selectDetail" resultMap="board">
        SELECT BOARD_NUM
            , TITLE
            , WRITER
            , CONTENT
            , CREATE_DATE
            , READ_CNT
        FROM BASIC_BOARD2
        WHERE BOARD_NUM=#{boardNum}
    </select>

    <insert id="insert">
        INSERT INTO BASIC_BOARD2 (TITLE, WRITER, CONTENT)
        VALUES(
            #{title}
            , #{writer}
            , #{content}
        )
    </insert>

    <delete id="delete">
        DELETE FROM BASIC_BOARD2
        WHERE BOARD_NUM=#{boardNum}
    </delete>

    <update id="update">
        UPDATE BASIC_BOARD2
        SET TITLE=#{title}
            , CONTENT=#{content}
        WHERE BOARD_NUM=#{boardNum}
    </update>

    <update id="viewCnt">
        UPDATE BASIC_BOARD2
        SET READ_CNT=READ_CNT+1
        WHERE BOARD_NUM=#{boardNum}
    </update>
	
</mapper>































