<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/reset.css">
</head>
<body>

  
  <div class="container">

    <table>
      <thead>
        <td>글번호</td>
        <td>제목</td>
        <td>작성자</td>
        <td>작성일</td>
      </thead>

      <tbody>
        <tr>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="date"></td>
          <td><input type="text"></td>
        </tr>
      </tbody>
      
    </table>

    <form action="/bwrite" method="post">
      <input type="submit" value="글쓰기">
    </form>

  </div>

</body>
</html>