<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/reset.css">
</head>
<body>
  
  <div class="container">

    <table>
      <tr>
        <td>글번호</td>
        <td></td>
      </tr>
      <tr>
        <td>제목</td>
        <td></td>
      </tr>
      <tr>
        <td>작성자</td>
        <td></td>
      </tr>
      <tr>
        <td>작성일</td>
        <td></td>
      </tr>
      <tr>
        <td>내용</td>
        <td>
          <a href="/bdetail">
            
          </a>
        </td>
      </tr>
    </table>

    
    <form action="/blist" method="get">
      <input type="submit" value="글 등록">
    </form>

  </div>


</body>
</html>