<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="memberMapper">


    <insert id="join">
        INSERT INTO SECURITY_MEMBER (
            MEM_ID
            ,MEM_PW
            ,MEM_NAME
            ,MEM_ROLE
        ) VALUES (
            #{memId}
            ,#{memPw}
            ,#{memName}
            ,#{memRole}
        )
    </insert>

</mapper>































