body{
  width: 100vw;
}

.App {
  /* border: 1px solid black; */
  width: 100%;
  text-align: center;
  padding: 30px;
  font-size: 1.2rem;
}

.main{
  margin: 0 auto;
  width: 800px;
}

.main>thead{
  background-color: #495464;
  color: #F4F4F2;
  font-weight: bold;

}

.main>thead td:hover{
  cursor: pointer;
}

button{
  background-color: #495464;
  color: #F4F4F2 ;
  border: none;
  border-radius: 3px;
  width: 50px;
}

button:hover{
  cursor: pointer;
}

.list{
  margin: 0 auto;
}

.list>thead{
  background-color: #495464;
  color: #F4F4F2;
}

.content{
  padding: 30px;
}

.insert{
  margin-bottom: 20px;
}


