<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <h1>배달 정보</h1>
  <form action="/order_info" method="post">

    <h3>주문자</h3>
    <input type="text" name="name">
    <h3>연락처</h3>
    <input type="text" name="tel" placeholder="010-0000-0000 형태로 입력">
    <h3>배달 주소</h3>
    <input type="text" name="address">


    <input type="hidden" name="chicken" th:value="${orderVO.chicken}">
    <input type="hidden" name="num" th:value="${orderVO.num}">

    <th:block th:each="add : ${orderVO.add}">
      <input type="hidden" name="add" th:value="${add}">
    </th:block>
    <br>
    <br>
    <input type="hidden" name="plus" th:value="${orderVO.plus}">


    <input type="submit" value="주문">

  </form>

</body>
</html>