<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/order_info.css">
</head>
<body>
  
  <h1>주문서</h1>

  <h3>주문정보</h3>
  <div>
    [[${orderVO.chicken}]] ([[${orderVO.num}]]마리) <br>
    추가사항 :
      <th:block th:each="add : ${orderVO.add}">
        [[${add}]] 
      </th:block><br>
    주문금액 : [[${sum}]] 원 <br>
    주문금액 : [[${ (orderVO.num*10000)+(1000*#arrays.length(orderVO.add)) }]] 원 <br>
    요청사항 : [[${orderVO.plus}]] <br>
  </div>
  <br>
  <h3>배달배달</h3>
  <div>
    주문자 : [[${deliveryVO.name}]] <br>
    연락처 : [[${deliveryVO.tel}]] <br>
    배달주소 : [[${deliveryVO.address}]] <br>
  </div>
  

</body>
</html>