<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <h1>이력서 확인</h1>
  <table>
    <tr>
      <td>이름</td>
      <td>[[${regInfoVO.name}]]</td>
      <td>연락처</td>
      <td>[[${regInfoVO.tel}]]</td>
    </tr>
    <tr>
      <td>학력</td>
      <td>[[${regDetailVO.school}]]</td>
      <td>지원구분</td>
      <td>[[${regDetailVO.menu}]]</td>
    </tr>
  </table>
  <br>
  <table>
    <tr>
      <td>자격증 정보</td>
      <td>
        <th:block th:each="license : ${regDetailVO.license}">
        [[${license}]] 
        </th:block><br>
      </td>
    </tr>
    <tr>
      <td>경력 정보</td>
      <td><td>
        <th:block th:each="company : ${regDetailVO.company}">
        [[${company}]] 
        </th:block><br>
      </td>
    </tr>
  </table>
  <br>
  <table>
    <tr>
      <td>자기소개</td>
    </tr>
    <tr>
      <td>[[${regDetailVO.introduce}]]</td>
    </tr>
  </table>

  

</body>
</html>