<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <h1>이력서 확인</h1>
  <table>
    <tr>
      <td>이름</td>
      <td></td>
      <td>연락처</td>
      <td></td>
    </tr>
    <tr>
      <td>학력</td>
      <td></td>
      <td>지원구분</td>
      <td></td>
    </tr>
  </table>
  <br>
  <table>
    <tr>
      <td>자격증 정보</td>
      <td></td>
    </tr>
    <tr>
      <td>경력 정보</td>
      <td></td>
    </tr>
  </table>
  <br>
  <table>
    <tr>
      <td>자기소개</td>
    </tr>
    <tr>
      <td></td>
    </tr>
  </table>

  

</body>
</html>