<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <form action="">
  <h1>학생 성적 입력 프로그램</h1>
    000학생의 기본정보를 입력합니다
    학년 <input type="text"> <br>
    연락처
    <select anme >
      <option value="">010</option>
    </select>
    성별
    <input type="radio" name="gender" value="남">남
    <input type="radio" name="gender" value="여">여
  <input type="submit" value="확인">

  </form>

  <form action="inputName" method="get">
    <input type="submit" value="뒤로가기">
  </form>
</body>
</html>