<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="boardMapper">
    <resultMap id="board" type="com.green.Board.vo.BoardVO">
        <id column="BOARD_NUM" property="boardNum" />
        <result column="MEM_ID" property="memId" />
        <result column="TITLE" property="title" />
        <result column="CONTENT" property="content" />
        <result column="CREATE_DATE" property="CreateDate" />
    </resultMap>

    <!--게시글 목록 조회-->
    <select id="getList" resultMap="board">
        SELECT BOARD_NUM
            ,TITLE
            ,MEM_ID
            ,CREATE_DATE
        FROM BOARD
        ORDER BY CREATE_DATE DESC
    </select>

    <!--게시글 상세조회-->
    <select id="getDetail" resultMap="board">
        SELECT BOARD_NUM
            ,TITLE
            ,MEM_ID
            ,CONTENT
            ,CREATE_DATE
        FROM BOARD
        WHERE BOARD_NUM=#{boardNum}
    </select>



</mapper>































