<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="boardMapper">
    <resultMap id="board" type="com.green.Board.vo.BoardVO">
        <id column="BOARD_NUM" property="boardNum" />
        <result column="MEM_ID" property="memId" />
        <result column="TITLE" property="title" />
        <result column="CONTENT" property="content" />
        <result column="CREATE_DATE" property="CreateDate" />
    </resultMap>




    <!--게시글 목록 조회-->
    <select id="getList" resultMap="board">
        SELECT BOARD_NUM
            ,TITLE
            ,MEM_ID
            ,CREATE_DATE
        FROM BOARD
        <if test=' searchValue != null and !searchValue.equals("") '>
<!--            &lt;!&ndash;searchValue가 null이 아니거나-->
<!--            searchValue가 ""빈문자열이 아닐때&ndash;&gt;-->
            WHERE ${searchType} LIKE CONCAT('%',#{searchValue},'%')
        </if>
        ORDER BY BOARD_NUM DESC
        LIMIT #{displayPageCnt} OFFSET #{offset}
    </select>

    <!--게시글 상세조회-->
    <!--게시글 상세정보 조회 따로 댓글목록 따로-->
    <select id="getDetail" resultMap="board">
        SELECT BOARD_NUM
            ,TITLE
            ,MEM_ID
            ,CONTENT
            ,CREATE_DATE
        FROM BOARD
        WHERE BOARD_NUM=#{boardNum}
    </select>

    <!--게시글 수정-->
    <update id="updateBoard">
        UPDATE BOARD
        SET TITLE=#{title}
            ,CONTENT=#{content}
        WHERE BOARD_NUM=#{boardNum}
    </update>

    <!--게시글 등록-->
    <insert id="insertBoard">
        INSERT INTO BOARD (
            TITLE
            ,CONTENT
            ,MEM_ID
        )VALUES (
            #{title}
            ,#{content}
            ,#{memId}
        )
    </insert>

    <!--게시글삭제-->
    <delete id="delBoard">
        DELETE FROM BOARD
        WHERE BOARD_NUM=#{boardNum}
    </delete>

    <!--게시글 검색-->
    <select id="search" resultMap="board">
        SELECT BOARD_NUM
            ,TITLE
            ,MEM_ID
            ,CREATE_DATE
        FROM BOARD
        WHERE ${searchType} LIKE CONCAT('%',#{searchValue},'%')
    </select>

    <!--전체 게시글 수 조회-->
    <select id="getBoardCnt" resultType="int">
        SELECT COUNT(BOARD_NUM)
        FROM BOARD
    </select>

    <!--게시글 상세정보보기, 댓글목록 같이 select 하기 -->
<!--    <select id="selectAll">-->
<!--        SELECT B.BOARD_NUM-->
<!--            ,B.TITLE-->
<!--            ,B.MEM_ID-->
<!--            ,B.CONTENT-->
<!--            ,B.CREATE_DATE-->
<!--            ,R.REPLY_NUM-->
<!--            ,R.MEM_ID-->
<!--            ,R.REPLY_CONTENT-->
<!--            ,R.REPLY_DATE-->
<!--        FROM BOARD B,BOARD_REPLY R-->
<!--        WHERE BOARD_NUM=#{boardNum}-->
<!--        AND B.BOARD_NUM=R.BOARD_NUM-->
<!--    </select>-->

</mapper>































