<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="joinMapper">
    <resultMap id="board" type="com.green.Board.vo.BoardVO">
        <id column="BOARD_NUM" property="boardNum" />
        <result column="MEM_ID" property="memId" />
        <result column="TITLE" property="title" />
        <result column="CONTENT" property="content" />
        <result column="CREATE_DATE" property="CreateDate" />
        <association property="memberVO" resultMap="member" />
        <collection property="replyList" resultMap="replyMapper.reply"/>
    </resultMap>

    <resultMap id="member" type="com.green.Board.vo.MemberVO">
        <id column="MEM_ID" property="memId" />
        <result column="MEM_PW" property="memPw" />
        <result column="MEM_NAME" property="memName" />
        <result column="GENDER" property="gender" />
        <result column="MEM_ROLE" property="memRole" />
    </resultMap>

    <resultMap id="reply" type="com.green.Board.vo.ReplyVO">
        <id column="MEM_ID" property="memId" />
        <result column="REPLY_NUM" property="replyNum" />
        <result column="BOARD_NUM" property="boardNum" />
        <result column="REPLY_CONTENT" property="replyContent" />
        <result column="REPLY_DATE" property="replyDate" />
    </resultMap>

    <!--게시글의 제목,작성자 ID,작성자명,작성자 권한 조회-->
    <select id="bbb" resultMap="board">
        SELECT BOARD_NUM
            ,TITLE
            ,CONTENT
            ,B.MEM_ID
            ,MEM_NAME
            ,MEM_ROLE
        FROM BOARD B, BOARD_MEMBER M
        WHERE B.MEM_ID=M.MEM_ID
    </select>

    <select id="aaa" resultMap="board">
        SELECT BOARD_NUM,TITLE,CONTENT
        FROM BOARD
    </select>

    <select id="ccc" resultMap="board">
        SELECT TITLE
            ,R.MEM_ID
            ,REPLY_CONTENT
            ,B.BOARD_NUM
        FROM board B,board_reply R
        WHERE B.BOARD_NUM=1
        AND B.BOARD_NUM=R.BOARD_NUM;
    </select>

</mapper>































