<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="replyMapper">
    <resultMap id="reply" type="com.green.Board.vo.ReplyVO">
        <id column="MEM_ID" property="memId" />
        <result column="REPLY_NUM" property="replyNum" />
        <result column="BOARD_NUM" property="boardNum" />
        <result column="REPLY_CONTENT" property="replyContent" />
        <result column="REPLY_DATE" property="replyDate" />
    </resultMap>

    <!--댓글 조회-->
    <select id="selectReply" resultMap="reply">
        SELECT REPLY_NUM
            , MEM_ID
            ,BOARD_NUM
            ,REPLY_CONTENT
            ,REPLY_DATE
        FROM BOARD_REPLY
        WHERE BOARD_NUM=#{boardNum}
    </select>

    <!--댓글작성-->
    <insert id="insertReply">
        INSERT INTO BOARD_REPLY (
            REPLY_CONTENT
            , MEM_ID
            , BOARD_NUM
        ) VALUES (
            #{replyContent}
            ,#{memId}
            ,#{boardNum}
        )

    </insert>

    <!--댓글삭제-->
    <delete id="delReply">
        DELETE FROM BOARD_REPLY
        WHERE REPLY_NUM=#{replyNum}
    </delete>

	
</mapper>































