body{
  width: 100vw;
  
}

.container{
  width: 700px;
  margin: 10px auto;

}

table{
  width: 100%;
}

thead{
  text-align: center;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: lightgray;
  font-weight: bold;

}

.search{
  width: 300px;
  margin-left: auto;
}


.button{
  border: none;
  background-color: cadetblue;
  color: white;
  padding: 3px 5px;
  border-radius: 5px;
}

.center{
  text-align: center;
}