.container>h2{
  margin: 50px auto;
}

.item-reg-div{
  border: 1px solid #eeeeee;
  background-color: #eeeeee36;
  width: 700px;
  margin: 50px auto;
  padding: 50px 10px;
  border-radius: 5px;
}

.item-reg-div>div{
  margin-bottom: 20px;
}

.item-reg-div>div>p{
  margin-bottom: 10px;
}

.reg-input{
  width: 220px;
  padding: 5px;
  border: none;
  outline: 1px solid lightgray;
}

.reg-input:focus{
  border: 1px solid black;
}



/* 버튼 */

.reg-btn{
  background-color: black;
  color:white;
  width: 150px;
  height: 30px;
  border-radius: 50px;
  /* padding: 3px 8px; */
  cursor: pointer;
}

.reg-btn:hover{
  background-color: rgba(0, 0, 0, 0.788);
}