<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="reset.css">
</head>
<body>
  
  <div class="conatiner">

    <form action="/writeForm" method="get">
  
      <table>
  
        <thead>
          <tr>
            <td>글번호</td>
            <td>제목</td>
            <td>작성자</td>
            <td>작성일</td>
            <td>조회수</td>
          </tr>
        </thead>
  
        <tbody>
          
          <!-- 없을때 -->
          <th:block th:if="${#lists.isEmpty(boardList)}">
            <tr>
              <td colspan="5">없음</td>
            </tr>
          </th:block>
          
          <!-- 있을때 -->
          <th:block th:unless="${#lists.isEmpty(boardList)}">
           <tr th:each="board : ${boardList}">
            <td>[[${board.boardNum}]]</td>
            <td><a th:href="@{/boardDetail(boardNum=${board.boardNum})}">[[${board.title}]]</a></td>
            <td>[[${board.writer}]]</td>
            <td>[[${board.createDate}]]</td>
            <td>[[${board.viewCnt}]]</td>
           </tr>
          </th:block>
  
        </tbody>
  
      </table>
      
      <input type="submit" value="글쓰기">

    </form>

  </div>

</body>
</html>