<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <div class="container">

    <form action="/regList" method="post">

      <table border="1">
        <tr>
          <td>학번</td>
          <td><input type="text" name="stuNum"></td>
        </tr>
        <tr>
          <td>이름</td>
          <td><input type="text" name="stuName"></td>
        </tr>
        <tr>
          <td>국어점수</td>
          <td><input type="text" name="korScore"></td>
        </tr>
        <tr>
          <td>영어점수</td>
          <td><input type="text" name="engScore"></td>
        </tr>
        <tr>
          <td>학생소개</td>
          <td><textarea name="intro"></textarea></td>
        </tr>
        
      </table>

      <input type="submit" value="등록완료">

    </form>

  </div>

</body>
</html>